@import "tailwindcss";

@theme {
  --color-zprimary: #2dd4bf;
  --color-zprimary-dark: #0f766e;
  --color-zcorp: #0f172a;
  --color-zcorp-light: #475569;
  --color-zcorp-base: #f8fafc;
}

body {
  background-color: var(--color-zcorp-base);
  color: var(--color-zcorp);
  scroll-behavior: smooth;
}
@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); } /* -50% porque duplicamos el array */
}
@media (min-width: 768px) {
  /* Oculta el cursor por defecto en toda la página */
  html, body, *:not(a):not(button):not([type="submit"]):not([type="range"]) {
    cursor: none !important;
  }
  /* Devuelve la "manito" solo a los elementos clickeables */
  a, button, [type="submit"], [type="range"], .cursor-pointer {
    cursor: pointer !important;
  }
}